<h3>No Pets Added Yet</h3>
<% @pet = Pet.new %>
<%= form_for @pet, :url=>{:controller=>"pets", :action=>"create"} do |f| %>
  Name: <%= f.text_field :name%><br />
  Breed:<%= f.text_field :breed %><br />
  Special Instructions: <br />
  <%= f.text_area :special_instructions, :rows=>8, :cols=>60 %><br />
  <%= f.hidden_field :user_id, :value=>session[:user][:id] %>
  <%= f.submit %>

<% end %>
