<div id="siteHeader">
  <div class="navbar navbar-fixed-top">
      <div class="navbar-inner" style="height:50px">
        <div class="container" style='width:1500px;margin-left:0 auto;padding-left:15%'>
          <ul class="nav">
            <li><%= link_to "Home", "/" %></li>
            <li><%= link_to "Services", "/services-page" %></li>
            <li><%= link_to "About Me", "/about-page" %></li>
            <li><%= link_to "Contract", "/contract" %></li>
            <li><%= link_to "Contact Me", "/email/contact" %></li>
          </ul>
        </div>
      </div>
  </div>
</div>
