<div id="siteHeader">
  <% image_tag('main_header.png') %>
  <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
          <% if !session[:user] %>
            <a class="brand" href="#">EZPetSitting</a>
          <% else %>
            <a class="brand" href="#"><%= session[:user][:email] %></a>
          <% end %>
          <div class="nav-collapse">
            <ul class="nav">
              <li><%= link_to "Home", "/users" %></li>
              <li><%= link_to "Profile", "/profiles" %></li>
              <li><%= link_to "Services", services_path %></li>
              <li><%= link_to "About Us", about_index_path %></li>
              <li><%= link_to "Contract", contracts_path %></li>
              <li><%= link_to "Calendar", "/calendar" %></li>
              <li><%= link_to "Email", email_index_path %></li>
              <li><%= link_to "logout", "/users/logout" %></li>
            </ul>
          </div>
          </div>
          </div>
  </div>
</div>
