<!DOCTYPE html>
<html>
<head>
  <title>EzPetSitting</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header"><%= render :partial=>"/layouts/header" %></div>
    <div id="mainDiv">
      <%= yield %>
    </div>
    <%= render :partial=>"/layouts/footer.html.erb" %>
  <div id="dialog" title="EZPetSitting.com">

  </div>
</body>
</html>
